# 前端
web/dist/
web/node_modules/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Wails
build/bin/
wails_generated.go

# IDE
.vscode/
.idea/
*.swp
*.swo

# 配置与隐私
config/prod.yml
data/lock/*.json

# 日志
*.log
logs/

# 系统文件
.DS_Store
Thumbs.db

# 文档
documents\LangChainGo完全指南.md

config/